.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #334155;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 0;
    z-index: 1;
    overflow: hidden;
    width: 450px;
    max-width: 70vw;
    display: flex;
    transition:
        opacity 0.2s ease,
        transform 0.2s ease;
}

.sidebar.hidden {
    opacity: 0.5;
    transform: translateX(-100%);
    user-select: none;
    pointer-events: none;
}

.sidebar-sticky-header {
    background-color: #334155;
    position: sticky;
    top: 0;
    z-index: 1;
    padding-block-start: 12px;
}

.sidebar-tablist {
    flex-basis: 44px;
    flex-shrink: 0;
    display: flex;
    padding-top: 48px;
    flex-direction: column;
}

.sidebar-tab {
    border: 0;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.5);
    padding: 4px 10px 5px;
    cursor: pointer;
}

.sidebar-tab[aria-selected="true"] {
    color: #fff;
}

.sidebar-content {
    max-height: 100%;
    overflow: auto;
    padding: 0;
    flex-grow: 1;
}

.sidebar-tabpanel {
    padding: 12px 12px 12px 0;
}

.sidebar-tabpanel.with-header {
    padding-block-start: 0;
}

.sidebar-control {
    z-index: 10;
    position: fixed;
    background: none;
    border: none;
    padding: 20px 12px 12px;
}

.burger {
    width: 20px;
    height: 15px;
    position: relative;
    transform: rotate(0deg);
    transition: 0.15s ease-in-out;
    cursor: pointer;
    background: none;
    border: none;
}

.burger-line {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #fff;
    border-radius: 3px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
}

.burger-line:nth-child(1) {
    top: 0px;
}

.burger-line:nth-child(2) {
    top: 6px;
}

.burger-line:nth-child(3) {
    top: 12px;
}

.sidebar-control[aria-expanded="true"] .burger-line:nth-child(1) {
    top: 6px;
    transform: rotate(135deg);
}

.sidebar-control[aria-expanded="true"] .burger-line:nth-child(2) {
    opacity: 0;
    left: -20px;
}

.sidebar-control[aria-expanded="true"] .burger-line:nth-child(3) {
    top: 6px;
    transform: rotate(-135deg);
}

.sidebar-tabpanel-hidden {
    display: none;
}
