.canvas {
    display: none;
}

.device {
    max-width: fit-content;
    max-height: fit-content;
    overflow: hidden;
    border-radius: 16px;
    border: 2px solid #ccc;
    user-select: none;
}

.device-screen {
    display: block;
    opacity: 0;
    max-width: calc(100vw - 90px);
    max-height: 80vh;
    width: auto;
    height: auto;
}

.device-screen.ready {
    opacity: 1;
}
