@import url("./shared/utils.css");

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    background-color: #213547;
    color: #ffffff;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
}

.workbench {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.app.hidden {
    display: none;
}

.faq {
    margin: 0;
    padding: 4px 0 0;
}

.faq-question {
    font-weight: bold;
    margin: 0 0 4px;
    padding: 0;
}

.faq-answer {
    margin: 0 0 12px;
    padding: 0;
}

.faq a,
.faq a:visited {
    color: #fff;
}

.footer {
    line-height: 1;
    height: 2em;
}

.footer-inner {
    padding: 0.5em 16px 16px;
    color: #000;
    font-weight: bold;
    text-align: center;
    border-radius: 12px 12px 0 0;
    background-image: linear-gradient(to bottom, #fda34b 0%, #ff7882 100%);
    transition: transform 0.15s;
}

.footer p {
    margin: 0 0 12px;
}

.footer:hover .footer-inner,
.footer:focus .footer-inner,
.footer:active .footer-inner {
    transform: translateY(calc(-100% + 2em));
}
